<!doctype html>

<head>
  <title>Calculator</title>
  <style>
    body {
      margin-left: 5%;
      margin-right: 5%;
      font-family: 'KaTeX_SansSerif';
    }
    #scroller { margin-bottom: 5%; }
    .input {
      border: 1px solid #aaaaaa;
      border-radius: 0.75em;
      padding: 0.5em;
      /* font-family: monospace; */
    }
    .output {
      /* font-family: monospace; */
      padding: 0.5em;
    }
    /* https://css-tricks.com/books/greatest-css-tricks/pin-scrolling-to-bottom/ */
    #scroller * { overflow-anchor: none; }
    #anchor { overflow-anchor: auto; height: 1px; }
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.min.css" integrity="sha384-bYdxxUwYipFNohQlHt0bjN/LCpueqWz13HufFEV1SUatKs1cm4L6fFgCi1jT643X" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.min.js" integrity="sha384-Qsn9KnoKISj6dI8g7p1HBlNpVx0I8p1SvlwOldgi3IorMle61nQy4zEahWYtljaz" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
  <script>
    window.WebFontConfig = {
      custom: {
        families: ['KaTeX_AMS', 'KaTeX_Caligraphic:n4,n7', 'KaTeX_Fraktur:n4,n7',
          'KaTeX_Main:n4,n7,i4,i7', 'KaTeX_Math:i4,i7', 'KaTeX_Script',
          'KaTeX_SansSerif:n4,n7,i4', 'KaTeX_Size1', 'KaTeX_Size2', 'KaTeX_Size3',
          'KaTeX_Size4', 'KaTeX_Typewriter'],
      },
    };
    const render = element => renderMathInElement(element, {
      delimiters: [
          {left: '$$', right: '$$', display: true},
          {left: '$', right: '$', display: false},
          {left: '\\(', right: '\\)', display: false},
          {left: '\\[', right: '\\]', display: true}
      ],
      throwOnError: false,
      trust: true,
    });
  </script>
  <script>
    // Unused for now
    let history = [];
    let history_cursor = 0;
    const inputkeydown = (event) => {
      let input = document.getElementById('input');
      console.log(event.key);
      switch (event.key) {
        case 'ArrowUp': {
          history_cursor = Math.max(0, history_cursor - 1);
          if (history_cursor < history.length)
            input.innerHTML = history[history_cursor];
        } break;
        case 'ArrowDown': {
          history_cursor = Math.min(history.length, history_cursor + 1);
          if (history_cursor < history.length)
            input.innerHTML = history[history_cursor];
        } break;
        case 'Enter': {
          let command = input.innerHTML;
          if (history.length === 0 || history[history.length-1] !== command)
            history.push(command);
          history_cursor = history.length;
          fetch('input', {
            method: 'POST',
            headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
            body: command,
          }).then(v => {
            console.log('Got response', v);
            (async () => {
              let log = document.getElementById('log');
              let html = '';
              for await (const chunk of v.body)
                html += new TextDecoder().decode(chunk);
              console.log('Prepending', html, 'to output');
              let commandDiv = document.createElement('div');
              commandDiv.innerHTML = command;
              commandDiv.className = 'input';
              let outputDiv = document.createElement('div');
              outputDiv.innerHTML += html;
              outputDiv.className += 'output';
              log.appendChild(commandDiv);
              log.appendChild(outputDiv);
              render(commandDiv);
              render(outputDiv);
            })();
          });
          input.innerHTML = '';
          return event.preventDefault();
        } break;
        default: break;
      }
    }
  </script>
  <script>
    const keydown = (event) => {
      console.log(event.key);
      switch (event.key) {
        default: {
          fetch('input', {
            method: 'POST',
            headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
            body: event.key,
          }).then(v => {
            console.log('Got response', v);
            (async () => {
              let html = '';
              for await (const chunk of v.body)
                html += new TextDecoder().decode(chunk);
              console.log('Setting body to ', html);
              document.body.innerHTML = html;
              render(document.body);
            })();
          });
        }
      }
    }
  </script>
</head>
<body onkeydown="keydown(event)">
  <!-- <div id="scroller">
    <div id="padding" style="height:100vh"></div>
    <div id="log"></div>
    <div contenteditable autofocus id="input" class="input" onkeydown="inputkeydown(event)"></div>
    <div id="anchor"></div>
  </div>
  <script>window.scrollTo(0, document.body.scrollHeight);</script> -->
</body>