<!doctype html>

<head>
  <style>
    body {
      margin-left: 5%;
      margin-right: 5%;
    }
    #scroller { margin-bottom: 5%; }
    .input {
      border: 1px solid #aaaaaa;
      border-radius: 0.75em;
      padding: 0.5em;
      font-family: monospace;
    }
    .output { font-family: monospace; }
    /* https://css-tricks.com/books/greatest-css-tricks/pin-scrolling-to-bottom/ */
    #scroller * { overflow-anchor: none; }
    #anchor { overflow-anchor: auto; height: 1px; }
  </style>
  <script>
    const inputkeydown = (event) => {
      if (event.key !== 'Enter') return;
      let input = document.getElementById('input');
      let command = input.innerHTML;
      fetch('input', {
        method: 'POST',
        headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
        body: command,
      }).then(v => {
        console.log('Got response', v);
         (async () => {
          let log = document.getElementById('log');
          let html = '';
          for await (const chunk of v.body)
            html += new TextDecoder().decode(chunk);
          console.log('Prepending', html, 'to output');
          let commandDiv = document.createElement('div');
          commandDiv.innerHTML = command;
          commandDiv.className = 'input';
          let outputDiv = document.createElement('div');
          outputDiv.innerHTML += html;
          outputDiv.className += 'output';
          log.appendChild(commandDiv);
          log.appendChild(document.createElement('br'));
          log.appendChild(outputDiv);
          log.appendChild(document.createElement('br'));
        })();
      });
      input.innerHTML = '';
      return event.preventDefault();
    }
  </script>
</head>
<body>
  <div id="scroller">
    <div id="padding" style="height:100vh"></div>
    <div id="log"></div>
    <div contenteditable autofocus id="input" class="input" onkeydown="inputkeydown(event)"></div>
    <div id="anchor"></div>
  </div>
  <script>window.scrollTo(0, document.body.scrollHeight);</script>
</body>